<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #1a3152;
  color: white;
}
</style>
</head>
<body>

<h2><%= @plan.nameofplan %></h2>

<table>
  <tr>
    <th>Semester</th>
    <th>Course 1</th>
    <th>Course 2</th>
    <th>Course 3</th>
    <th>Course 4</th>
  </tr>
  <tr>
    <td><%= @plan.semester1  %></td>
    <td><%= @plan.course1a  %></td>
    <td><%= @plan.course1b  %></td>
    <td><%= @plan.course1c  %></td>
    <td><%= @plan.course1d  %></td>
  </tr>
  <tr>
    <td><%= @plan.semester2  %></td>
    <td><%= @plan.course2a  %></td>
    <td><%= @plan.course2b  %></td>
    <td><%= @plan.course2c  %></td>
    <td><%= @plan.course2d  %></td>
  </tr>
  <tr>
    <td><%= @plan.semester3  %></td>
    <td><%= @plan.course3a  %></td>
    <td><%= @plan.course3b  %></td>
    <td><%= @plan.course3c  %></td>
    <td><%= @plan.course3d  %></td>
  </tr>
  <tr>
    <td><%= @plan.semester4  %></td>
    <td><%= @plan.course4a  %></td>
    <td><%= @plan.course4b  %></td>
    <td><%= @plan.course4c  %></td>
    <td><%= @plan.course4d  %></td>
  </tr>
  <tr>
    <td><%= @plan.semester5  %></td>
    <td><%= @plan.course5a  %></td>
    <td><%= @plan.course5b  %></td>
    <td><%= @plan.course5c  %></td>
    <td><%= @plan.course5d  %></td>
  </tr>
  <tr>
    <td><%= @plan.semester6  %></td>
    <td><%= @plan.course6a  %></td>
    <td><%= @plan.course6b  %></td>
    <td><%= @plan.course6c  %></td>
    <td><%= @plan.course6d  %></td>
  </tr>
  <tr>
    <td><%= @plan.semester7  %></td>
    <td><%= @plan.course7a  %></td>
    <td><%= @plan.course7b  %></td>
    <td><%= @plan.course7c  %></td>
    <td><%= @plan.course7d  %></td>
  </tr>
  <tr>
    <td><%= @plan.semester8  %></td>
    <td><%= @plan.course8a  %></td>
    <td><%= @plan.course8b  %></td>
    <td><%= @plan.course8c  %></td>
    <td><%= @plan.course8d  %></td>
  </tr>
  <tr>
    <td><%= @plan.semester9  %></td>
    <td><%= @plan.course9a  %></td>
    <td><%= @plan.course9b  %></td>
    <td><%= @plan.course9c  %></td>
    <td><%= @plan.course9d  %></td>
  </tr>
  <tr>
    <td><%= @plan.semester10  %></td>
    <td><%= @plan.course10a  %></td>
    <td><%= @plan.course10b  %></td>
    <td><%= @plan.course10c  %></td>
    <td><%= @plan.course10d  %></td>
  </tr>
  <tr>
    <td><%= @plan.semester11  %></td>
    <td><%= @plan.course11a  %></td>
    <td><%= @plan.course11b  %></td>
    <td><%= @plan.course11c  %></td>
    <td><%= @plan.course11d  %></td>
  </tr>
  <tr>
    <td><%= @plan.semester12  %></td>
    <td><%= @plan.course12a  %></td>
    <td><%= @plan.course12b  %></td>
    <td><%= @plan.course12c  %></td>
    <td><%= @plan.course12d  %></td>
  </tr>
</table>

</body>
</html>
